.body {
  size-adjust: 100%;
  background-color: rgb(231, 231, 231);
  font-style: normal;

}
.navbar {
  padding-right: 15%;
  padding-left: 15%;
 

}
.navbar-brand {
  font-style: italic;
  font-weight: bolder;
  color: red;


}
.center {
  margin: 0 auto;
  background: rgb(230, 230, 230); 
  width: 100%;  
  display: inlinr-block;

}


.MiFuente {
  font-family: "MiFuente", Arial, Verdana, sans-serif;
  color: #2374B6;
  font-size:25px;

  }
.col-8 navbar-brand {
  font-family: Helvetica, Trebuchet MS, Verdana, Arial, sans-serif;
  font-style: italic;
}

#lista-grid {
  
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  
}

.container1 {
  background-color: white;
  margin: 10px;
  padding: 20px;
  text-align: center;

}
#engranaje {
  width: 80%;
}

header{
  background: white;
  
}
header h1{
  margin:0;
}
div.post{
  background: white;
  margin-top: 10px;
  border-radius: 5px;
}
div.post img{
  width: 100%;
}
div.post .post-header div:first-child{
  display: inline-block;
  width: 80%;
}
div.post .post-header div:last-child{
  display: inline-block;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  color: gray;
}
div.post h2, div.post p{
  padding: 10px;
  margin: 0;
}
div.container{
 width: 600px;
 margin:auto;
}
div.container-gallery{
  width: 100%;
  margin:auto;
  padding: 10px;
  margin: 10px;
 }
.grid {
  display: flex;
  padding: 10px;
  margin: 10px;
}
.g-col-4 {
  margin: 10px;

}

.gallery {
  width: 100%;
 
}
